h1 {
  background-color: black;
  color: white;
  padding: 20px 50px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #393e46;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.navbar {
  background-color: black;
  position: relative;
}

.buttonBlack {
  padding: 20px 50px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer; 
}

.buttonBlack:hover {
  padding: 20px 50px;
  background-color: #232931;
  color: white;
  border: none;
  cursor: pointer; 
}